@model HealthCare.Models.Clientes
@using System.Web
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Bienvenido</title>
</head>
<body>   
    <div style="float:right; width:15%;" class="container-fluid text-center">        
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">
                        <button class="btn btn-primary" id="btn_carrito" style="margin-right:5% ; float:right"><span class="glyphicon glyphicon-shopping-cart" style="margin-right:5px;"></span>BOLSA DE LA COMPRA</button>
                    </th>
                </tr>
                <tr >
                    <th>Producto</th>
                    <th>Empresa</th>
                </tr>
            </thead>
            <tbody id="tbody_Bolsa"></tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
        <button id="terminar_Compra" class="btn btn-success">TERMINAR COMPRA</button>
    </div> 
    <div class="container" id="body" style="text-align:center; width:60%">
        <table class="table">
            <thead>
                <tr>
                    <th class="panel panel-heading" width="100%" display="table-cell" style="text-align:center; background-color:#BDBDBD" id="categoria">Inicio</th>
                </tr>
            </thead>
            <thead>
                <tr id="subcategorias"></tr>
            </thead>  
            <tbody id="body_Empresas"></tbody>         
        </table> 
        <button class='btn hidden' style="background-color:#BDBDBD; width:50%" id='btn_Inicio'>Inicio</button>
    </div>


    <script>
        dibujarCategoria("Inicio");        

        $("#categoria").add("#body_Empresas > tr").attr("colspan", $("#subcategorias > th").length);

        $("#terminar_Compra").on("click", () => {
            if ($("#tbody_Bolsa").children("tr").length > 0) {
                var items = "";
                $("#tbody_Bolsa").children("tr").each((pos, el) => {
                    if (pos == 0) {
                        items += el.id.split("_")[1]
                    } else {
                        items += ":" + el.id.split("_")[1];
                    }
                });

                var empresas = "";
                $("#tbody_Bolsa").children("tr").each((pos, el) => {
                    if (pos == 0) {
                        empresas += el.id.split("_")[2]
                    } else {
                        empresas += ":" + el.id.split("_")[2];
                    }
                });

                $.post("/Clientes/Solicitud", { "Items": items, "Empresas": empresas }).done((data) => { $("body").html(data) });
            }
        })

        function dibujarCategoria(elemento) {
            $("#body_Empresas").empty();
            $.ajax({
                url: "/Datos/Categorias?categoria=" + elemento
            }).done((data) => {
                if (data != "null") {
                    var json = JSON.parse(data);
                    $("#categoria").text(json.Nombre).css("background-color", json.Color);
                    dibujarSubcategorias();
                } else {
                    dibujarEmpresas($("#categoria").text(), elemento);
                }                
            });            
        }

        function dibujarSubcategorias() {
            $("#subcategorias").empty();
            $.ajax({
                url: "/Datos/Subcategorias?categoria=" + $("#categoria").text()
            }).done((data) => {                
                var json = JSON.parse(data);
                json.forEach((el, pos, ar) => {
                    var tamañoCampo = ((100 / ar.length) - 5) + "%";
                    $("#subcategorias").append("<th  class='btn' display='table-cell' width='" + tamañoCampo + "' style='text-align:center; margin:10px; background-color: " + el.Color + "'>" + el.Nombre + "</th>");
                })
                $("#subcategorias th").on("click", (ev) => {                    
                    $("#btn_Inicio").attr("class", "btn").off("click").on("click", () => {
                        $("#btn_Inicio").attr("class", "btn hidden");
                        dibujarCategoria("Inicio");                        
                    });
                    dibujarCategoria(ev.target.innerHTML);
                });
            });
        }

        function dibujarEmpresas(categoria, subcategoria) {            
            $.ajax({
                url: "/Datos/Empresas?categoria=" + categoria + "&subcategoria=" + subcategoria
            }).done((data) => {
                var json = JSON.parse(data);
                if (json.length > 0) {
                    json.forEach((el, pos, ar) => {
                        $("#body_Empresas").append("<tr id='row_empresa" + pos + "'><td id='empresa" + pos + "' style='background-color:#E6E6E6; margin:10px' class='btn' display='table-cell' width='85%'><span id='nombre_empresa" + pos + "'>" + el.Nombre + "</span><span style='float:rigth; margin-left:5%' class='badge'>" + el.Valoracion + "</span></tr>");
                        $("#empresa" + pos).on("click", () => {
                            dibujarItems(el.IDEmpresa, pos);
                        });
                    })
                    $("#body_Empresas tr").attr("colspan", json.length);
                }
            });
        }

        function dibujarItems(IDEmpresa, posicion) {
            $("#caja_lista").remove();
            $.ajax({
                url: "/Datos/Items?IDEmpresa=" + IDEmpresa
            }).done((data) => {
                var json = JSON.parse(data);
                $("#row_empresa" + posicion).after("<div id='caja_lista'>");
                $("#caja_lista")
                    .append("<label for='item'>Productos:</label><br>")
                    .append("<select id='item' style='width:50%'>");
                if (json.length > 0) {
                    json.forEach((el, pos, ar) => {
                        $("#item").append("<option value='" + el.IDItem + "'>" + el.Nombre + " - " + el.Precio + "<span style='margin-left:5px'>€</span></option>");
                    });
                } else {
                    $("#item").append("<option value='0'>Sin productos</option>");
                }
                $("#caja_lista").append("</select><button class='btn btn-default' style='margin-left:10px' id='compra'>Comprar</button></div>");
                $("#compra").on("click", () => {
                    if ($("#item").val() != "0") {
                        $("#row_" + $("#item").val()).remove();
                        $("#tbody_Bolsa").append("<tr id='row_" + $("#item").val() + "_" + $("#nombre_empresa" + posicion).text() + "'><td id='elemento_" + $("#item").val() + "'>" + $("#item").text() + "</td><td>" + $("#nombre_empresa" + posicion).text() + "</td></tr>");
                    }
                })
            })       
        }
    </script>
</body>
</html>
