@using HealthCare.Models

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  

<table>
    @foreach (Categorias cat in Model)
    {
        <tr>
            <td class="nombre">@cat.Nombre</td>
            <td><a href="~/Clientes/Subcategorias/@cat.Nombre"><img style="float:left" src="~/Content/Imagenes/@cat.Nombre/@(cat.Nombre).jpg" /></a></td>
        </tr>
    }
</table>  
