@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="form-horizontal form" style="padding: 5% 10%">
        <h2>Comprar Producto</h2>
        <br />
        <div>            
            <p>Su producto ha sido añadido correctamente a la cesta</p>
            
            @using (Html.BeginForm("Items", "Clientes", new { @id = Session["empresa"] } ))
            {
                <br /><br /><button type="submit" class="btn btn-success">Seguir Comprando</button>
            }
        </div>
    </div>
</div>



