@model HealthCare.Models.Clientes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}
else
{
    <div>
        <p>@ViewBag.mensaje <span style="margin-left:3px">Se pondran en contacto con usted lo antes posible al telefono:</span></p>
        <p>@Model.Telefono</p>
        <p>Gracias por utilizar nuestro servicio.</p>
        <br />
        <a href="/Clientes/Login">OK</a>
    </div>
}

