@using HealthCare.Models
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:20px">
    <table class="table">
        <thead>            
            <tr class="success" style="border-bottom-width:1px; border-bottom-color:#dbdbdb; border-bottom-style: solid">
                <td>#</td>
                <td>Nombre</td>
                <td>Precio</td>
            </tr>
        </thead>
        @Html.Partial("PartialItems", Model as List<Item>)
    </table>
</div>
