@using HealthCare.Models
<tbody>
    @{
        List<Item> lista = Model as List<Item>;
        foreach (Item item in lista.OrderByDescending(x => x.Nombre))
        {
            <tr>
                <td>
                    @using (Html.BeginForm("Comprar", "Clientes", new { id = item.IDItem }))
                    {
                        <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                    }
                </td>
                <td>@item.Nombre</td>
                <td>@item.Precio<span style="margin-left:3px">€</span></td>
            </tr>
        }
    }
</tbody>