@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" name="tablas_imagenes">
    <table class="table">
        <thead>
            <tr>
                <td colspan="2"><label class="h2">Subcategorias</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table>
                        @for (int i = 0; i < Model.Count; i += 2)
                        {
                            <tr style="margin-top: 20px; display:inline-block">
                                <td width="120px"><div class="panel-primary" style="height:175px"><h3 class="panel-heading panel-title text-center">@Model[i].Nombre</h3></div></td>
                                <td><a href="~/Clientes/Empresas/@Model[i].Nombre"><img src="~/Content/Imagenes/@Session["categoria"]/Subcategorias/@(Model[i].Nombre).jpg" /></a></td>
                            </tr>
                        }
                    </table>
                </td>
                <td>                    
                    <table>
                        @for (int i = 1; i < Model.Count; i += 2)
                        {
                            <tr style="margin-top: 20px; display:inline-block">
                                <td width="120px"><div class="panel-primary" style="height:175px"><h3 class="panel-heading panel-title text-center">@Model[i].Nombre</h3></div></td>
                                <td><a href="~/Clientes/Empresas/@Model[i].Nombre"><img src="~/Content/Imagenes/@Session["categoria"]/Subcategorias/@(Model[i].Nombre).jpg" /></a></td>
                            </tr>
                        }
                    </table>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
