@using HealthCare.Models
@{
    ViewBag.Title = "Subcategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul style="list-style:none">

        @foreach (Subcategorias sub in Model)
        {
            <li><a href="~/Clientes/Empresas/@sub.Nombre">@sub.Nombre</a></li>
        }

    </ul>
</div>
