@using HealthCare.Models

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    @foreach (Subcategorias sub in Model)
    {
        <tr>
            <td class="nombre">@sub.Nombre</td>
            <td><a href="~/Clientes/Empresas/@sub.Nombre"><img style="float:left; width:100%" src="~/Content/Imagenes/@Session["categoria"]/Subcategorias/@(sub.Nombre).jpg" /></a></td>
        </tr>       
    }
</table>

