@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terminar</title>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div> 
        <center>
            Tu solicitud ha sido realizada. La empresa a la que has realizado el pedido se pondrá en contacto con usted. <br />
            En 10 segundos se le redireccionará a la página principal o<br />
            si lo prefiere puede ir ahora pulsando <a href="/Clientes/Login">AQUI</a>
        </center>
    </div>
    <script>
        var cont = 10;
        setInterval(() => {
            cont = cont - 1;
            if (cont == 0) {
                location.href = "/Clientes/Login";
            }
        }, 1000);
    </script>
</body>
</html>
