@model HealthCare.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="form-horizontal form" style="padding: 5% 10%">
        <h2>Sugerir Producto</h2>
        <br />
        <h4>Item</h4>
        <hr />  
        <div>
            @if (ViewBag.error == null)
            { 
                <p>Nuestro departamento le ha asignado a su empresa el siguiente producto</p>
                <p><span>Producto:</span><span style="margin-left:5px">@Model.Nombre</span></p>
                <p><span>Precio:</span><span style="margin-left:5px">@Model.Precio</span><span style="margin-left:5px">€</span></p>
                <p>Le recordamos que la asignacion de su producto aun no es definitiva y que aun puede ser borrarda en caso de detectar alguna irregularidad por nuestro Departamento de Calidad</p>
                <p>Si esto pasara, nos pondriamos en contacto con usted via email y telefonica para aclarar el asunto</p>
            }
            else
            {               
                <p>@ViewBag.error</p>               
            }            
            @using (Html.BeginForm("SugerirProducto", "Empresas"))
            {
                <br /><br /><button type="submit" class="btn btn-success">Hacer otra peticion</button>
            } 
        </div>
    </div>
</div>

