@model HealthCare.Models.Empresas

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td><label class="h2">Login Empresas</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div style="margin-top: 9%; width:20%" class="center-block" >
                        <form method="post" action="/Empresas/Login">
                            <label>Nº Identificacion</label><br />
                            @Html.TextBoxFor(x => x.IDEmpresa, new { @class = "form-control" })<br />
                            <input class="btn btn-success form-control" type="submit" value="Entrar" />
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>       
</div>
