@model HealthCare.Models.Empresas

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>        
    <div class="container" style="width:100%">
        <form method="post" action="/Empresas/Login">
            <div class="form-group">
                <label>Nº Identificacion</label><br />
                @Html.TextBoxFor(x => x.IDEmpresa, new { @class = "form-control" })<br />
                <input class="btn btn-success form-control" id="login" type="submit" value="Entrar" />
            </div>
        </form>
    </div>
</body>
