@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/Index">
            @Html.ValidationSummary()
            Nº Seguridad Social:<input type="text" name="SS" />
            <input type="submit" value="Entrar" />
        </form> 
    </div>
</body>
</html>
