
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
@section Header{
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
}
@section Body{
    <body>
        <div>
            Login :<input id="txt_Login" type="text" />
            PassWord :<input id="txt_Password" type="text" />
            <input id="boton" type="button" value="Entrar" />
            <script>


            </script>
        </div>
    </body>
}     
</html>
