@model HealthCare.Models.Clientes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.BeginForm()
            @Html.ValidationSummary()
            @Html.TextBoxFor(x => x.SS)
            <input type="submit" value="Entrar" />
    </div>
</body>
</html>
